html {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body  {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #444;
    color: #fff;
    width: 100vw;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    align-items: center;
    justify-content: center;
    height: 150px;
    background: linear-gradient(
        90deg,
        #777,
        #444
    );
    width: 60%;
    z-index: 1;
}

h1 {
    text-align: center;
    font-size: 35px;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#ul-nav {
    display: flex;
    align-items: center;
    justify-content: space;
    width: 100%;
    margin: 0;
    padding: 0
}

.navigation {
    text-align: center;
    list-style-type: none;
    width: 33.33%;
}

.navigation a:hover {
    color: #fff;
    text-decoration: underline;
    transition: 1s ease-in-out;
}

.navigation a {
    color: #888;
    text-decoration: none;
    transition: 0.5s ease-in-out;
    font-size: 20px;
}

main {
    padding-top: 130px;
    margin: 0px 10px 0px 10px;
}

h2 {
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
}

h4 {
    font-size: 25px;
    margin: 20px;
}

.personal p {
    text-align: center;
}

p {
    font-size: 20px;
}

#index {
    position: relative;
    margin: 0;
    width: 59%;
    background: linear-gradient(
        180deg,
        #777,
        #999
    );
}

 i {
    display: block;
    text-align: center;
    font-size: 20px;
}

#certification i {
    margin-bottom: 10px;
    color: rgb(0, 0, 100);
    padding-top: 130px;
}

#certificates {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


#cert-images {
    height: 500px;
    width: 80%;
    opacity: 70%;
}

#cert-images:hover {
    opacity: 100%;
}

img {
    width: 100%;
    height: 100%
}

#next-button, #prev-button {
    height: 500px;
    width: 10%;
    background-color: #444;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

#next-button:hover, #prev-button:hover {
    background-color: rgb(0, 0, 30);
    transition: 0.5s ease-in-out;
}

.fa-solid {
    font-size: 50px;
    color: #fff !important;
    opacity: 20%;
    transition: 0.5s ease-in-out;
}

#next-button:hover .fa-solid,
#prev-button:hover .fa-solid {
    opacity: 100%;
    transition: 0.5s ease-in-out;
} 

#next-button {
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
}

#prev-button {
    border-top-left-radius: 30%;
    border-bottom-left-radius: 30%;
}

#project-lists {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}

.project-link {
    color: #666;
    font-size: 30px;
    text-decoration: none;
    gap: 10%;
    transition: 0.5s ease-in-out;
}

.project-link:hover {
    color: #fff;
    text-decoration: underline;
    transition: 0.5s ease-in-out;
}

@media (max-width: 425px) {
    #index {
        width: 100%
    }

    header {
        width: 100%;
    }

    .navigation a {
        font-size: 16.6px;
        text-decoration: underline;
        text-align: center;
    }

    #cert-images {
        height: 250px;
    }

    #prev-button,
    #next-button {
        height: 250px;
    }

    .fa-solid {
        font-size: 16.6px;
    }

    h1 {
        font-size: 30px;
    }

    .project-link {
        font-size: 16px;
    }
}